{% from "macros/schedules.html" import finals_schedule %}
{% from "macros/short_courses.html" import finals_short %}

{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/schedule.css') }}" />
{% endblock %}

{% block main_content %}
<div class="schedule__container">

    <div class="schedule__half">
        <div class="schedule__nav">
            <a href="{{ url_for('pages.user_courses') }}" class="schedule__link schedule__link--outline">
                &#9670; Weekly
            </a>
            <a href="{{ url_for('pages.user_finals') }}" class="schedule__link schedule__link--active">
                &#8862; Finals
            </a>
        </div>

        <div class="schedule__week-container">
            {{ finals_schedule(calendar) }}
        </div>
    </div>

    <hr />

    <div class="schedule__courses-section">
        <div class="schedule__courses-header-row">
            <h2 class="schedule__courses-heading">Final Exams</h2>
            <a href="{{ url_for('pages.user_courses') }}" class="schedule__btn--outline">
                Back to Weekly
            </a>
        </div>

        {{ finals_short(courses) }}
    </div>

</div>
{% endblock %}