{% macro courses_schedule(calendar) %}
<table class="schedule__week">
    <thead>
        <tr>
            {% for day in calendar[0] %}
                {% if loop.first %}
                    <th class="schedule__week--header"></th>
                {% else %}
                    <th class="schedule__week--day schedule__week--header">{{ day }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    
    <tbody>
        {% for row in calendar %}
            {% if not(loop.first) %}    <!-- Skip days row -->
                <tr>
                    {% for cell in row %}
                        {% if loop.first %}
                            <th class="schedule__week--time">{{ cell }}</th>
                        {% elif cell == "SKIP" %}
                        {% elif not cell %}
                            <td></td>
                        {% else %}
                            <td rowspan="{{ cell[1] }}" class="schedule__week--cell">
                                <div class="schedule__week--slot"
                                    style="top: {{ cell[2] }}%; height: {{ cell[3] }}%;">
                                        {{ cell[0] }}
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>

                
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endmacro %}


{% macro finals_schedule(calendar) %}
<table class="schedule__week">
    <thead>
        <tr>
            {% for day in calendar[0] %}
                {% if loop.first %}
                    <th class="schedule__week--header"></th>
                {% else %}
                    <th class="schedule__week--day schedule__week--header">{{ day }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    
    <tbody>
        {% for row in calendar %}
            {% if not(loop.first) %}    <!-- Skip days row -->
                <tr>
                    {% for cell in row %}
                        {% if loop.first %}
                            <th class="schedule__week--time">{{ cell }}</th>
                        {% elif cell == "SKIP" %}
                        {% elif not cell %}
                            <td></td>
                        {% else %}
                            <td rowspan="{{ cell[1] }}" class="schedule__week--cell">
                                <div class="schedule__week--slot"
                                        style="top: {{ cell[2] }}%; height: {{ cell[3] }}%;">
                                    {{ cell[0] }}
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>

                
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endmacro %}