{% macro courses_short(courses) %}
<table class="schedule__courses">
    <thead>
        <tr>
            <th class="schedule__courses--header">Course</th>
            <th class="schedule__courses--header">Title</th>
            <th class="schedule__courses--header">Type</th>
            <th class="schedule__courses--header">Days</th>
            <th class="schedule__courses--header">Time</th>
            <th class="schedule__courses--header">Instructor</th>
            <th class="schedule__courses--header">Location</th>
        </tr>
    </thead>

    <tbody>
        {% for course in courses %}
            <tr>
                {% for item in course %}
                    {% if loop.first %}
                        <td class="schedule__courses--item schedule__courses--code">
                            <a href="#">{{ item }}</a>
                        </td>
                    {% elif loop.last %}
                    {% else %}
                        <td class="schedule__courses--item">{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro finals_short(courses) %}
<table class="schedule__courses">
    <thead>
        <tr>
            <th class="schedule__courses--header">Course</th>
            <th class="schedule__courses--header">Title</th>
            <th class="schedule__courses--header">Type</th>
            <th class="schedule__courses--header">Time</th>
            <th class="schedule__courses--header">Location</th>
        </tr>
    </thead>

    <tbody>
        {% for course in courses %}
            <tr>
                {% for item in course %}
                    {% if loop.first %}
                        <td class="schedule__courses--item schedule__courses--code">
                            <a href="#">{{ item }}</a>
                        </td>
                    {% else %}
                        <td class="schedule__courses--item">{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}